<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:property-placeholder location="classpath:/db.properties"/>
    <!-- 注解配置事务 -->
    <tx:annotation-driven/>


    <!--&lt;!&ndash; 使用annotation &ndash;&gt;-->
    <!--<context:annotation-config/>-->
    <!--&lt;!&ndash; 使用annotation自动注册bean,并检查@Controller, @Service, @Repository注解已被注入 &ndash;&gt;-->
    <!--<context:component-scan base-package="com.ndt.action"/>-->
    <!--<context:component-scan base-package="com.ndt.service"/>-->
    <!--<context:component-scan base-package="com.ndt.dao"/>-->
    <!--<context:component-scan base-package="com.ndt.entity"/>-->

    <!--DAO-->
    <bean id="companyDAO" class="com.ndt.dao.impl.CompanyDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--Service-->
    <bean id="companyService" class="com.ndt.service.impl.CompanyServiceImpl">
        <property name="companyDAO" ref="companyDAO"/>
    </bean>
    <!--Action-->
    <bean id="loginAction" class="com.ndt.action.LoginAction" scope="prototype">
        <property name="companyService" ref="companyService"/>
    </bean>

    <bean id="registerAction" class="com.ndt.action.RegisterAction" scope="prototype">
        <property name="companyService" ref="companyService"/>
    </bean>

    <bean id="employeeAction" class="com.ndt.action.EmployeeAction" scope="prototype">
        <property name="companyService" ref="companyService"/>
    </bean>

    <bean id="carAction" class="com.ndt.action.CarAction" scope="prototype">
        <property name="companyService" ref="companyService"/>
    </bean>

    <bean id="companyAction" class="com.ndt.action.CompanyAction" scope="prototype">
        <property name="companyService" ref="companyService"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <!-- 可以加多个包 -->
                <value>com.ndt.entity</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.autocommit">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/ndt</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop><!-- 有表自动更新表结构，没有就创建表 -->
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:com/ndt/entity/AdministratorEntity.hbm.xml</value>
                <value>classpath:com/ndt/entity/CompanyEntity.hbm.xml</value>
                <value>classpath:com/ndt/entity/CarEntity.hbm.xml</value>
                <value>classpath:com/ndt/entity/EmployeeEntity.hbm.xml</value>
                <value>classpath:com/ndt/entity/EvaluationEntity.hbm.xml</value>
                <value>classpath:com/ndt/entity/OrderEntity.hbm.xml</value>
                <value>classpath:com/ndt/entity/CarEntity.hbm.xml</value>
                <value>classpath:com/ndt/entity/EvaluationEntity.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!-- data connection setting -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${database.driverClassName}"/>
        <property name="jdbcUrl" value="${database.url}"/>
        <property name="user" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
        <!-- 设置数据库连接池的最大连接数 -->
        <property name="maxPoolSize" value="50"/>
        <!-- 设置数据库连接池的最小连接数 -->
        <property name="minPoolSize" value="5"/>
        <!-- 设置数据库连接池的初始化连接数 -->
        <property name="initialPoolSize" value="5"/>
        <!-- 设置数据库连接池的连接最大空闲时间 -->
        <property name="maxIdleTime" value="20"/>
        <!-- c3p0缓存Statement的数量数 -->
        <property name="maxStatements" value="50"/>
        <!-- 当连接池里面的连接用完的时候,C3P0一下获取新的连接数 -->
        <property name="acquireIncrement" value="20"/>
    </bean>

     <!--定义事务管理器（声明式的事务）-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 通知 -->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--&lt;!&ndash; 传播行为 &ndash;&gt;-->
            <!--<tx:method name="save*" propagation="REQUIRED"/>-->
            <!--<tx:method name="insert*" propagation="REQUIRED"/>-->
            <!--<tx:method name="add*" propagation="REQUIRED"/>-->
            <!--<tx:method name="create*" propagation="REQUIRED"/>-->
            <!--<tx:method name="register*" propagation="REQUIRED"/>-->
            <!--<tx:method name="delete*" propagation="REQUIRED"/>-->
            <!--<tx:method name="update*" propagation="REQUIRED"/>-->
            <!--<tx:method name="display*" propagation="REQUIRED"/>-->
            <!--<tx:method name="do*" propagation="REQUIRED"/>-->
            <!--<tx:method name="query*" propagation="SUPPORTS" read-only="true"/>-->
            <!--<tx:method name="find*" propagation="SUPPORTS" read-only="true"/>-->
            <!--<tx:method name="select*" propagation="SUPPORTS" read-only="true"/>-->
            <!--<tx:method name="get*" propagation="SUPPORTS" read-only="true"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->
</beans>